# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log file
*.log

# Config File
*.ini

# Resource Files
*.res

# Stackdump
*.stackdump

# Code Blocks files
/Project/bin/
/Project/bin/*
/Project/obj/
/Project/obj/*
*.layout
*.depend

# My stuff
*.zip
*.rar
*.tmp
/SDL2Stuff/
/includes/
/lib/

