# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log file
*.log

# Config File
*.ini

# Resource Files
*.res

# Stackdump
*.stackdump

# Code Blocks files
/Project/bin/
/Project/bin/*
/Project/obj/
/Project/obj/*
*.layout
*.depend

# My stuff

# Archived images that don't need to be on Github
*.zip
*.rar

# I'll name files this if I don't want them on Github
*.tmp

# I store my SDL2 include and lib here
/SDL2Stuff/include/
/SDL2Stuff/lib/

# Random stuff that also doesn't need to be on github
/RandomCrap/
/RandomCrap/*

# Other Libraries (such as libjpeg-9) that I store the dll & license files here in case I decide to use them later.
/OtherLibraries/
/OtherLibraries/*
